# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/contentModel.xml
/projectSettingsUpdater.xml
/.idea.Devbot.FluentTesting.iml
/modules.xml
# Datasource local storage ignored files
/../../../../../../../../../../:\Users\pete_\source\repos\smudge202\fluent-testing\.idea\.idea.Devbot.FluentTesting\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
